.img3-container {
    background-image: url('/c3sdf.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    max-width: 540px;
    background-size: 80%;
    max-width: 900px;
    margin: auto;
}