.logo-container {
    background-image: url(/HEDGEHOG.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    background-size: 100%;
    width: 200px;
    position: relative;
    top: 7px;
}

.header-logo {
    max-width: 100%; 
    height: auto;
    z-index: -1;
}